// _theme.scss
// Variables y Mixins
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;800&display=swap');
// Paleta de colores (Tema Música)
$color-primary: #0fac1c; // Un rosa neón vibrante
$color-secondary: #2b2b2b;
$color-text: #333;
$color-text-light: #777;
$color-bg: #fff;
$color-border: #ddd;

// Dark Mode
$color-bg-dark: #1a1919;
$color-text-dark: #ffffff;
$color-bg-alt: #f9f9f9; // Light mode alt

// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;

// Spacing
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 40px;

// Fonts
$font-main: 'Inter', sans-serif;
$font-heading: 'Nunito Sans', sans-serif;
$font-body: $font-main; // Alias if needed

// Mixins
@mixin container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-md;
}